<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net452" />
  <package id="MathNet.Numerics.MKL.Win-x86" version="2.2.0" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net452" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
</packages>